<footer class="footer-section bg-dark text-white py-5">
    <div class="container text-center">
        <h3 class="mb-4">Contact Me</h3>
        <p class="lead mb-4">Email: abdullah.maher.egy&#64;gmail.com</p>
        <div class="social-links mb-4">
            <a href="https://github.com/thunderndwind" target="_blank"
                class="text-white mx-3">
                <fa-icon [icon]="['fab', 'github']"
                    class="social-icon"></fa-icon>
            </a>
            <a href="www.linkedin.com/in/abdalla-ashraf-engineer"
                target="_blank" class="text-white mx-3">
                <fa-icon [icon]="['fab', 'linkedin']"
                    class="social-icon"></fa-icon>
            </a>
        </div>
        <p class="mb-0">&copy; 2024 Abdullah Maher. All rights reserved.</p>
    </div>
</footer>