.about-section {
  // background-color: #1a1a1a;
  background-color: #cecece; 
  // color: #ffffff;
  padding: 100px 0;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4a90e2;
    margin-bottom: 40px;
  }

  .lead {
    font-size: 1.2rem;
    // color: #ffffff;
    line-height: 1.8;
  }

  strong {
    color: #4a90e2;
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 60px 0;

    h2 {
      font-size: 2rem;
    }

    .lead {
      font-size: 1rem;
    }
  }
}